    <div class="side_top_bar">
      <div class="user_name">
        <a href="#">Tom</a>
      </div>
      <div class="chat_btn">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side_bottom_bar">
      <div class="chat_content">
        <div class="chat_room">
          <a href="#" >techroom1</a>
        </div>
      </div>
      <div class="chat_content">
        <div class="chat_room">
          <a href="#" >techroom2</a>
        </div>
      </div>
    </div>